@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

body {
  box-sizing: border-box;
}

::-moz-selection {
  background: #323264;
  color: #ffffff;
}

::selection {
  background: #323264;
  color: #ffffff;
}

.main {
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%, #643e72 100%);
  border-radius: 0px 0px 12px 12px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 160px;
}

.heading-hero {
  font-size: 38px;
  font-weight: 700;
}

.heading-secondary {
  font-size: 30px;
  font-weight: 700;
}

.heading-tertiary {
  font-size: 22px;
  font-weight: 700;
}

.heading-tertiary-caps {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading-fourth {
  font-size: 16px;
  font-weight: 700;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.list-ul-ol {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.header {
  padding-top: 50px;
  position: relative;
  z-index: 1;
}
.header__inner {
  display: flex;
}
.header__inner__block__name {
  display: block;
  width: 130px;
  height: 46px;
  margin-bottom: 6px;
}
.header__inner__block__law-company {
  width: 130px;
  height: 7px;
}
.header__inner__block-2 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.header__inner__block-2__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.header__inner__block-2__wrap__block-languages__btn-language {
  padding: 5px 7px;
  background: none;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}
.header__inner__block-2__wrap__block-languages__btn-language.active {
  border-radius: 8px;
  background: #f0145a;
}
.header__inner__block-2__wrap__text-location {
  margin: 0px 18px 0px;
  position: relative;
  color: #ffffff;
}
.header__inner__block-2__wrap__text-location::before, .header__inner__block-2__wrap__text-location::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #e6e6f0;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header__inner__block-2__wrap__text-location::before {
  right: calc(100% + 6px);
}
.header__inner__block-2__wrap__text-location::after {
  left: calc(100% + 6px);
}
.header__inner__block-2__wrap__tel {
  margin-right: 18px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}
.header__inner__block-2__wrap__tel:hover {
  color: #f0145a;
}
.header__inner__block-2__wrap__tel::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #e6e6f0;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 6px);
}
.header__inner__block-2__wrap__facebook-link svg path {
  transition: fill 0.3s ease;
}
.header__inner__block-2__wrap__facebook-link:hover svg path {
  fill: #f0145a;
}
.header__inner__block-2__wrap__link-menu {
  color: #ffffff;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.header__inner__block-2__wrap__link-menu:hover {
  color: #f0145a;
}
.header__inner__block-2__wrap__link-menu:last-child {
  margin-right: 0;
}
.header__inner__block-2__wrap:last-child {
  margin: 0 0 0 auto;
}

.footer {
  padding: 30px 0;
}
.footer__inner {
  display: flex;
  padding-top: 30px;
  border-top: 2px solid #e6e6f0;
}
.footer__inner__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}
.footer__inner__wrapper__block-address {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}
.footer__inner__wrapper__block-address__location {
  color: #323264;
  margin-right: 26px;
  position: relative;
}
.footer__inner__wrapper__block-address__location::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #e6e6f0;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #b3b3ba;
  left: calc(100% + 10px);
}
.footer__inner__wrapper__block-address__map-link {
  color: #24a3ff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer__inner__wrapper__block-address__map-link:hover {
  color: #f0145a;
}
.footer__inner__wrapper__block-contact {
  display: flex;
  align-items: center;
}
.footer__inner__wrapper__block-contact__link svg path {
  transition: fill 0.3s ease;
}
.footer__inner__wrapper__block-contact__link:hover svg path {
  fill: #f0145a;
}
.footer__inner__wrapper__block-contact__tel {
  margin: 0 26px;
  color: #46466e;
  text-decoration: none;
  position: relative;
}
.footer__inner__wrapper__block-contact__tel::before, .footer__inner__wrapper__block-contact__tel::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #e6e6f0;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #b3b3ba;
}
.footer__inner__wrapper__block-contact__tel::before {
  right: calc(100% + 10px);
}
.footer__inner__wrapper__block-contact__tel::after {
  left: calc(100% + 10px);
}
.footer__inner__wrapper__block-contact__email {
  color: #24a3ff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer__inner__wrapper__block-contact__email:hover {
  color: #f0145a;
}
.footer__inner__block-copyright {
  color: #b3b3ba;
  margin-left: auto;
}

.hero {
  position: relative;
  bottom: 116px;
}
.hero__inner {
  text-align: center;
}
.hero__inner__symbol {
  width: 872px;
  height: 1000px;
}
.hero__inner__title {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hero__inner .icon-scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.hero__inner .icon-scroll svg {
  stroke: #ffffff;
  transition: all 0.3s ease;
}
.hero__inner .icon-scroll:hover svg {
  stroke: #f0145a;
}

.experience__inner {
  padding: 0 120px 60px;
  display: flex;
  flex-direction: row;
}
.experience__inner__wrapper {
  display: flex;
  flex-direction: column;
}
.experience__inner__wrapper:first-child {
  align-items: flex-end;
  max-width: 440px;
  width: 100%;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
}
.experience__inner__wrapper__item {
  color: #b3b3ba;
  margin: 0 60px 30px 0;
  transition: all 0.3s ease;
}
.experience__inner__wrapper__item:last-child {
  margin-bottom: 0;
}
.experience__inner__wrapper__item:hover {
  cursor: pointer;
  color: #f0145a;
}
.experience__inner__wrapper__item.active {
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience__inner__wrapper:last-child {
  justify-content: center;
  margin-left: 60px;
}
.experience__inner__wrapper__title {
  color: #ffffff;
  margin-bottom: 30px;
}
.experience__inner__wrapper__text {
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
}

.services {
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%, #643e72 100%);
  border-radius: 0px 0px 12px 12px;
  position: relative;
}
.services__inner__link {
  color: #24a3ff;
  text-decoration: none;
  margin-bottom: 10px;
}
.services__inner__link:hover {
  color: #f0145a;
}
.services__inner__link:hover svg path {
  stroke: #f0145a;
}
.services__inner__link__icon {
  width: 12px;
  height: 12px;
}
.services__inner__title {
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services__inner__block {
  display: flex;
  flex-wrap: wrap;
}
.services__inner__block__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: calc(33% - 35px);
  width: 100%;
  margin: 60px 60px 60px 0;
}
.services__inner__block__card:nth-child(3n) {
  margin-right: 0;
}
.services__inner__block__card__img {
  padding: 14px;
  margin-bottom: 30px;
  border-radius: 24px;
  background: #ffffff;
}
.services__inner__block__card__title {
  color: #24a3ff;
  margin-bottom: 15px;
}
.services__inner__block__card__text {
  color: #ffffff;
}
.services::before, .services::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: red;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 12px 12px;
}
.services::before {
  width: calc(100% - 40px);
  background: #cacadb;
  bottom: -10px;
}
.services::after {
  width: calc(100% - 80px);
  background: #e7e7f2;
  bottom: -20px;
}

.team {
  padding: 80px 0 60px;
}
.team__inner__wrapper {
  display: flex;
}
.team__inner__wrapper__img {
  width: 400px;
  align-self: stretch;
}
.team__inner__wrapper__block {
  background-color: #f5f5fa;
  padding: 30px;
}
.team__inner__wrapper__block__link {
  margin-bottom: 5px;
  color: #24a3ff;
  text-decoration: none;
}
.team__inner__wrapper__block__link:hover {
  color: #f0145a;
}
.team__inner__wrapper__block__link:hover svg path {
  stroke: #f0145a;
}
.team__inner__wrapper__block__text {
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.team__inner__wrapper__block__author {
  color: #b3b3ba;
  margin-bottom: 6px;
}
.team__inner__wrapper__block__position {
  color: #b3b3ba;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.team__inner__selector-wrapper {
  text-align: center;
}
.team__inner__selector-wrapper__selector {
  margin-top: 30px;
  margin-right: 15px;
  border: none;
  background: none;
}
.team__inner__selector-wrapper__selector svg circle {
  transition: all 0.3s ease;
}
.team__inner__selector-wrapper__selector:hover svg circle {
  fill: #f0145a;
  opacity: 1;
}
.team__inner__selector-wrapper__selector:last-child {
  margin-right: 0px;
}

.companies {
  padding-bottom: 60px;
}
.companies .container {
  padding: 0 100px;
}
.companies__inner {
  text-align: center;
}
.companies__inner__title {
  color: #323264;
  margin-bottom: 30px;
}
.companies__inner__wrapper {
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
  overflow: hidden;
}
.companies__inner__wrapper__block {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 430px;
  width: 100%;
  height: 120px;
}
.companies__inner__wrapper__block.hillel {
  background: #1c4280;
}
.companies__inner__wrapper__block.wannabiz {
  background: #143646;
}
.companies__inner__wrapper__block.tapgerine {
  background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
}
.companies__inner__wrapper__block.look {
  background: #9e4dc3;
}
.companies__inner__wrapper__block.orangear {
  background: #fd9339;
}
.companies__inner__wrapper__block.adtelligent {
  background: #e2e2e4;
}
.companies__inner__wrapper__block.clickky {
  background: #c71c36;
}
.companies__inner__wrapper__block.eco-leasing {
  background: #dcf3f9;
}
.companies__inner__wrapper__block.infratek {
  background: #eaeaea;
}
.companies__inner__wrapper__block.clickky {
  background: #c71c36;
}
.companies__inner__wrapper__block.citypark {
  background: #282240;
}
.companies__inner__wrapper__block.art-print {
  background: #1d4568;
}
.companies__inner__wrapper__block.ultimate-card {
  background: #000000;
}

.publications {
  padding: 30px 0 30px;
}
.publications__inner__link {
  color: #24a3ff;
  text-decoration: none;
  margin-bottom: 10px;
}
.publications__inner__link:hover {
  color: #f0145a;
}
.publications__inner__link:hover svg path {
  stroke: #f0145a;
}
.publications__inner__title {
  margin-bottom: 30px;
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.publications__inner__wrapper {
  display: flex;
}
.publications__inner__wrapper__card {
  margin-right: 30px;
}
.publications__inner__wrapper__card:last-child {
  margin-right: 0px;
}
.publications__inner__wrapper__card__info {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.publications__inner__wrapper__card__info__title {
  color: #24a3ff;
  margin-bottom: 15px;
}
.publications__inner__wrapper__card__info__data {
  color: #b3b3ba;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 4px solid #e6e6f0;
}
.publications__inner__wrapper__card__info__text {
  margin-top: 15px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}/*# sourceMappingURL=main.css.map */