.footer {
  padding: 30px 0;

  @include respond(700px) {
    padding-bottom: 64px;
  }

  &__inner {
    display: flex;
    padding-top: 30px;
    border-top: 2px solid $color-grey-separator;

    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      &__block-address {
        display: flex;
        align-items: baseline;
        margin-bottom: 20px;

        @include respond(700px) {
          flex-direction: column;
          align-items: center;
          margin: 0;
        }

        &__location {
          color: $color-main-regular;
          margin-right: 26px;
          position: relative;

          &::after {
            @include circle-element;
            background: $color-grey-text;
            left: calc(100% + 10px);

            @include respond(700px) {
              display: none;
            }
          }
          @include respond(700px) {
            margin: 0 0 10px;
          }
        }

        &__map-link {
          color: $color-active-regular;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: $color-accent;
          }

          @include respond(700px) {
            margin-bottom: 22px;
          }
        }

        &__copyright {
          color: $color-grey-text;
          margin-left: auto;

          @include respond(700px) {
            display: none;
          }
        }
      }

      &__block-contact {
        display: flex;
        align-items: center;

        @include respond(700px) {
          flex-direction: column;
        }

        &__link {
          svg {
            path {
              transition: fill 0.3s ease;
            }
          }

          &:hover {
            svg {
              path {
                fill: $color-accent;
              }
            }
          }

          @include respond(700px) {
            margin-bottom: 10px;
          }
        }

        &__tel {
          margin: 0 26px;
          color: $color-main-alt;
          text-decoration: none;
          position: relative;

          &::before,
          &::after {
            @include circle-element;
            background: $color-grey-text;

            @include respond(700px) {
              display: none;
            }
          }

          &::before {
            right: calc(100% + 10px);
          }

          &::after {
            left: calc(100% + 10px);
          }

          @include respond(700px) {
            margin: 0 0 10px;
          }
        }

        &__email {
          position: relative;
          color: $color-active-regular;
          text-decoration: none;
          transition: all 0.3s ease;

          &:hover {
            color: $color-accent;
          }

          &::after {
            @include respond(700px) {
              position: absolute;
              content: "© 2021 HLEGAL Law company, LLC";
              display: block;
              text-decoration: none;
              color: $color-grey-text;
              font-size: 16px;
              font-weight: 400;
              line-height: 26px;
              white-space: nowrap;
              top: 36px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
}
