.achievements {
  padding: 30px 0;

  &__inner {
    text-align: center;

    &__title {
      color: $color-main-regular;
    }

    &__wrapper {
      display: flex;
      justify-content: space-evenly;
      margin: 30px 0;
    }

    &__selector-block {
      text-align: center;

      &__selector {
        margin-top: 30px;
        margin-right: 15px;
        border: none;
        background: none;

        svg {
          circle {
            transition: all 0.3s ease;
          }
        }

        &:hover {
          svg {
            circle {
              fill: $color-accent;
              opacity: 1;
            }
          }
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
