.hero {
  position: relative;
  bottom: 116px;
  overflow: hidden;

  @include respond(768px) {
    top: -250px;
  }

  @include respond(620px) {
    bottom: 86px;
  }

  &__inner {
    text-align: center;

    &__symbol {
      width: 872px;
      height: 1000px;

      @include respond(1440px) {
        width: 698px;
        height: 800px;
      }

      @include respond(1024px) {
        width: 670px;
        height: 768px;
      }

      @include respond(768px) {
        position: relative;
        width: 894px;
        height: 1024px;
        left: -126px;
      }

      @include respond(620px) {
        width: calc(894px - 33%);
        height: calc(1024px - 33%);
      }

      @include respond(460px) {
        width: calc(894px - 66%);
        height: calc(1024px - 66%);
      }

      @include respond(375px) {
        width: 524px;
        height: 600px;
        left: -76px;
      }
    }

    &__title {
      max-width: 800px;
      width: 100%;
      color: $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      @media screen and (max-width: 680px) {
        max-width: 315px;
        left: calc(50% + 30px);
        top: calc(50% - 15px);
      }

      @include respond(375px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .icon-scroll {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 30px;

      svg {
        stroke: $color-white;
        transition: all 0.3s ease;
      }

      &:hover {
        svg {
          stroke: $color-accent;
        }
      }
    }
  }
}
