.publications {
  padding: 30px 0 30px;

  @include respond(620px) {
    padding-bottom: 0;
  }

  &__inner {
    &__link {
      color: $color-active-regular;
      text-decoration: none;
      margin-bottom: 10px;

      &:hover {
        color: $color-accent;

        svg {
          path {
            stroke: $color-accent;
          }
        }
      }
    }

    &__title {
      margin-bottom: 30px;
      background: $color-gradient-redText;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include respond(620px) {
        @include hero-mobile;
      }
    }

    &__wrapper {
      display: flex;

      @include respond(1022px) {
        flex-wrap: wrap;
      }

      &__card {
        max-width: 514px;
        width: calc(100% / 3);
        margin-right: 30px;

        @include respond(1022px) {
          width: calc(50% - 15px);
          flex-wrap: wrap;
        }

        @include respond(620px) {
          margin: 0 0 30px;
          width: 100%;
        }

        &:nth-child(2) {
          @include respond(1022px) {
            margin-right: 0;
          }
        }

        &:last-child {
          margin-right: 0px;

          @include respond(1022px) {
            max-width: none;
            width: 100%;
          }
        }

        &__img {
          max-width: 514px;
          width: 100%;

          @include respond(1022px) {
            max-width: none;
          }
        }

        &__info {
          display: flex;
          flex-direction: column;
          padding: 30px;

          &__title-link {
            color: $color-active-regular;
            margin-bottom: 15px;
            text-decoration: none;
          }

          &__data {
            color: $color-grey-text;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding-bottom: 15px;
            border-bottom: 4px solid $color-grey-separator;
          }

          &__text {
            margin-top: 15px;
            color: $color-black;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
          }
        }
      }
    }
  }
}
