*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

body {
  box-sizing: border-box;
}

::selection {
  background: $color-main-regular;
  color: $color-white;
}

.main {
  background: $color-gradient-supersoft;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 160px;
}
