// Hero
.heading-hero {
  color: $color-white;
  font-size: 38px;
  font-weight: 700;
}

// h2
.heading-secondary {
  font-size: 30px;
  font-weight: 700;
}

// h3
.heading-tertiary {
  font-size: 22px;
  font-weight: 700;
}

// h3-caps
.heading-tertiary-caps {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// h4
.heading-fourth {
  font-size: 16px;
  font-weight: 700;
}

// p
.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

// list
.list-ul-ol {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
