@mixin font-face(
  $font-family,
  $file-path,
  $font-weight: normal,
  $font-style: normal
) {
  @font-face {
    font-family: $font-family;
    src: url(../fonts/#{$file-path}.ttf);
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font-face("Montserrat", "Montserrat-Regular", 400);
@include font-face("Montserrat", "Montserrat-Bold", 700);

@mixin circle-element {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: $color-grey-separator;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin hero-mobile {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin h2-mobile {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin paragraph-introduction {
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

@mixin background-gradient-redText {
  background: $color-gradient-redText;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin respond($breadpoint) {
  @if $breadpoint == 1920px {
    @media screen and (max-width: 1920px) {
      @content;
    }
  }

  @if $breadpoint == 1440px {
    @media screen and (max-width: 1440px) {
      @content;
    }
  }

  @if $breadpoint == 1024px {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }

  @if $breadpoint == 1022px {
    @media screen and (max-width: 1022px) {
      @content;
    }
  }

  @if $breadpoint == 768px {
    @media screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breadpoint == 760px {
    @media screen and (max-width: 760px) {
      @content;
    }
  }

  @if $breadpoint == 700px {
    @media screen and (max-width: 700px) {
      @content;
    }
  }

  @if $breadpoint == 620px {
    @media screen and (max-width: 620px) {
      @content;
    }
  }

  @if $breadpoint == 460px {
    @media screen and (max-width: 460px) {
      @content;
    }
  }

  @if $breadpoint == 375px {
    @media screen and (max-width: 375px) {
      @content;
    }
  }
}
