@mixin font-face(
  $font-family,
  $file-path,
  $font-weight: normal,
  $font-style: normal
) {
  @font-face {
    font-family: $font-family;
    src: url(../fonts/#{$file-path}.ttf);
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font-face("Montserrat", "Montserrat-Regular", 400);
@include font-face("Montserrat", "Montserrat-Bold", 700);

@mixin circle-element {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: $color-grey-separator;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
